/* style.css */
* {
    box-sizing: border-box;
  }
  
  .autocomplete-container {
    position: relative;
  }
  
  .autocomplete-input {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    font-size: 15px; 
    outline: none;
    border-radius: 10px;
    letter-spacing: 0.5px;
  }
  
  .autocomplete-suggestions {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    max-height: 250px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .autocomplete-suggestion::-webkit-scrollbar {
    display: none;
  }
  
  .autocomplete-suggestion {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
  }
  
  .autocomplete-suggestion:hover {
    background-color: var(--accent-color);
    color: #fff
  }