.completion-message-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completion-message-content {
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: var(--primary-font);
}

.completion-message-content h1 {
    font-size: 50px;
    color: var(--accent-color);
    margin-top: 70px;
    margin-bottom: 10px;
}

.completion-message-content .logo {
    height: 60px;
    margin-top: -60px;
}

.completion-message-content .primary-button {
    margin-top: 30px;
    font-size: 20px;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.3);
}