.complete-profile-outer {
    min-width: 100%;
    position: relative;
    overflow: hidden;
}

.complete-profile-inner {
    margin: auto;
    width: 1100px;
    /* max-width: 1100px; */
    position: relative;
    text-align: left;
    padding: 15px 50px;
    font-family: var(--accent-font);
}

.complete-profile-inner .header-title {
    color: var(--accent-color);
}

.complete-profile-inner .steps {
    margin: 25px 20px;
}

.complete-profile-inner .steps .next-prev-buttons {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.complete-profile-inner .steps .step-header {
    font-weight: 600;
}

.complete-profile-inner .steps .step-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px;
}

.complete-profile-inner .steps .step-main .form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.upload-profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    outline: dashed 5px #AAE1F5;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border: solid 5px var(--background-color);
    cursor: pointer;
    transition: 0.2s;
}

.upload-profile-pic:hover {
    outline: dotted 5px #AAE1F5;
    opacity: 0.8;
}

.upload-profile-pic .input-pp {
    display: none;
}

.user-fullname {
    font-family: var(--accent-font);
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: text;
    padding: 0px 10px 5px 10px;
    field-sizing: content;
    /* max-width: fit-content; */
}

.user-username {
    font-family: var(--accent-font);
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    border: none;
    background-color: transparent;
    padding: 0px 10px 5px 10px;
    field-sizing: content;
    /* max-width: fit-content; */
}

.user-fullname:focus, .user-username:focus {
    outline: none;
}

.user-bio {
    margin-top: 30px;
    height: 200px;
}

.steps-forms {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.steps-forms label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
}

.steps-forms .input-wrapper {
    border: solid 2px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 15px;
    cursor: text;
}

.steps-forms .input-wrapper:focus-within {
    outline: solid 3px var(--accent-color);
}

.steps-forms input {
    width: 100%;
    padding: 12px 0px;
    border: none;
}

.steps-forms input:focus {
    outline: none;
}

.phone-number-dob {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.phone-number, .dob {
    flex: 1 1;
}