.dropdown-container {
    border: 2px solid rgba(0, 0, 0, 0.3);
    font-size: 15px; 
    outline: none;
    border-radius: 10px;
    padding-right: 15px;
    cursor: pointer;
}

.dropdown-input {
    padding: 10px 0px 10px 20px;
    border: none !important;
    border-radius: 50px;
    color: #000;
    font-size: 15px;
    outline: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    max-width: 97%;
    margin: 0 !important;
}

.dropdown-list {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
    max-height: 250px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dropdown-list::-webkit-scrollbar {
    display: none;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
  }
  
  .dropdown-item:hover {
    background-color: #E3F2FD;
    color: var(--accent-color)
  }