.ideas-section-outer {
    min-width: 100%;
    position: relative;
}

.ideas-section-inner {
    margin: 10px auto 30px auto;
    width: 1000px;
    position: relative;
    text-align: center;
    min-height: 80vh;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
}

.list-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-grid a, .list-view a {
    text-decoration: none;
    color: var(--text-color);
}

.author-name:hover {
    text-decoration: underline;
}

.category {
    padding: 5px 12px;
    color: #ffffff;
    border-radius: 15px;
    width: fit-content;
    font-size: 14px;
    margin-right: 15px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.category:hover {
    opacity: 0.8;
}

.tags {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tag {
    margin-right: 5px;
    padding: 5px 12px;
    background-color: lightblue;
    border-radius: 15px;
    min-width: fit-content;
    height: fit-content;
    font-size: 12px !important;
    font-weight: 500;
    border: solid 2px rgba(0, 0, 0, 0.5);
}

.tags::-webkit-scrollbar {
    display: none;
}