.footer-outer {
    min-width: 100%;
    position: relative;
    font-family: var(--primary-font);
    /* margin-top: 50px; */
}

.footer-inner {
    padding: 50px;
    margin: auto;
    width: 1000px;
    max-width: 1000px;
    /* min-height: 50vh; */
    position: relative;
    background-color: var(--primary-color);
    color: white;
    font-family: var(--accent-font);
}

.footer-inner .footer-description, .other-links, .copyright {
    font-size: 13px;
}

.social-links, .other-links, .copyright {
    margin-top: 30px;
}

.social-links a, .other-links a, .copyright {
    color: rgb(154, 154, 154);
    margin-right: 20px ;
    text-decoration: none;
}

.social-links a:hover, .other-links a:hover {
    color: var(--accent-color);
}

