.idea-preview {
    padding: 20px 30px;
    border-radius: 15px;
    position: relative;
    border: solid 2px rgba(0, 0, 0, 0.3);
}

.idea-preview::-webkit-scrollbar {
    display: none;
}

.idea-preview .author-details {
    font-family: var(--accent-font);
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.idea-preview .author-details .author-avatar {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: solid 2px rgba(0, 0, 0, 1);
    outline: solid 3px var(--accent-color);
    border-radius: 50%;
}

.idea-preview .author-details .author-name {
    cursor: pointer;
}

.idea-preview-details {
    margin: 40px 0px;
}

.idea-preview-title {
    margin-bottom: 30px;
    font-family: var(--accent-font);
}

.idea-preview-description {
    font-size: 15px;
    line-height: 20px;
}

.idea-preview-summary {
    line-height: 25px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 30vh;
}

.idea-preview-summary::-webkit-scrollbar {
    display: none;
}

.idea-preview-date-time {
    font-size: 13px;
    opacity: 0.6;
    font-weight: 500;
    margin: 5px 0 0 0;
}

.idea-preview .extra-features {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.idea-preview .extra-features .collab-save > * {
    display: inline-block;
    font-weight: 500;
    min-width: 75px;
}

/* .collaborate::after {
    content: "Collaborate with people";
}

.save::after {
    content: "Save";
}

.collaborate::after, .save::after {
    border: solid 1px;
    padding: 5px 10px;
    font-size: 10px;
    position: absolute;
    bottom: 30px;
    background-color: #3c3c3c;
    color: white;
    right: -5px;
    transition: 0.2s;
    opacity: 0;
    bottom: 15px;
}

.collaborate:hover::after, .save:hover::after {
    opacity: 1;
    bottom: 20px;
} */

.ql-align-center {
    text-align: center !important;
}

.ql-align-left {
    text-align: left !important;
}

.ql-align-right {
    text-align: right !important;
}

.ql-align-justify {
    text-align: justify !important;
}