.idea-editor-outer {
    min-width: 100%;
    position: relative;
}

.idea-editor-inner {
    margin: auto;
    width: 1100px;
    position: relative;
    text-align: left;
    padding: 50px 50px;
    border-radius: 10px;
}

.idea-editor-inner, .header-section {
    margin-bottom: 50px;
}

.idea-form .labels {
    font-weight: 500;
}

.idea-form input:not(.idea-tags), textarea, .tags-input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    font-size: 15px; 
    outline: none;
    letter-spacing: 0.5px;
    font-family: 'arial';
    resize: none;
    font-weight: 500;
    margin-bottom: 20px;
}

.idea-form .tags-input {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding: 10px 20px !important;
}

.idea-form .idea-tags {
    border: none;
    min-width: 50%;
    font-size: 15px; 
    outline: none;
    font-family: 'arial';
}

.idea-form input:not(.idea-tags):focus, textarea:focus {
    outline: solid 3px var(--accent-color) !important;
}

/* .idea-form .idea-title:not(:placeholder-shown) {
    font-weight: 600;
} */

.idea-form .idea-description {
    min-height: 200px;
}

.idea-form .idea-summary {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    /* overflow-x: hidden; */
    margin-bottom: 40px;
    position: relative;
}

.idea-form .ql-editor:active .idea-summary{
    /* border: solid 1px rgba(0, 0, 0, 0.5); */
    outline: solid 3px var(--accent-color);
}

.idea-form .idea-summary .ql-toolbar {
    display: flex;
    justify-content: space-between;
}

.idea-form .idea-summary .ql-container {
    height: 80vh;
}

.idea-form .idea-buttons {
    margin-top: 50px;
}

.idea-form .idea-buttons > button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    border: none;
    border-radius: 50px; /* Fully rounded */
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    /* transition: all 0.2s ease-in-out; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.idea-form .idea-buttons .post-button, .save-as-draft-button, .edit-button{
    margin-right: 10px;
}

.idea-form .idea-buttons .post-button{
    background-color: #0099ff;
}

.idea-form .idea-buttons .save-as-draft-button{
    background-color: #555;
}

.idea-form .idea-buttons .edit-button{
    background-color: #555;
}

.idea-form .idea-buttons .delete-button{
    background-color: #ff4c2c;
}

.idea-form .next-prev-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.idea-form .add-tags-button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30px !important;
    height: 30px;
}

.page-one, .page-two, .page-three {
    border: solid 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    border-radius: 10px;
}

.idea-status-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.idea-status-options .option {
    cursor: pointer;
    border: solid 1px;
    flex: 1 1;
    text-align: center;
    padding: 10px;
    color: white;
}