@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
    --background-color: #fafafa;
    --primary-color: #1c1c1c;
    --accent-color: #2BB3E7;
    --text-color: #272626;  
    --secondary-accent: #20C997;
    --primary-font: "Work Sans", serif;
    --accent-font: "Raleway", serif;   
}

body {
    background-color: var(--background-color);
    position: relative;
    color: var(--text-color);
    margin: 0;
    font-family: var(--primary-font);
}

.primary-button {
  padding: 8px 15px;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  transition: 0.2s;
  text-decoration: none;
}

.primary-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary-button:disabled:hover {
  opacity: 0.5;
}

.primary-button:hover {
  opacity: 0.8;
}

.secondary-button {
  padding: 6px 15px;
  border-radius: 50px;
  border: solid 3px var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.2px;
  transition: 0.2s;
  text-decoration: none;
}

.secondary-button:hover {
  opacity: 0.8;
}

/* body {
  padding: 2rem;
  font-family: sans-serif;
  text-align: center;
} */

.label {
  margin-bottom: 0.5rem;
}

.modes {
  margin-bottom: 1rem;
}

.button-container {
  margin-bottom: 0.5rem;
}

.slide-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.slide-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.slide-exit {
  opacity: 1;
  transform: translateX(0%);
}
.slide-exit-active {
  opacity: 0;
  transform: translateX(-100%);
}
.slide-enter-active,
.slide-exit-active {
  transition: opacity 500ms, transform 500ms;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  padding: 10px 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent-color); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8; 
}


/* .backward-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.backward-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.backward-exit {
  opacity: 1;
  transform: translateX(0%);
}
.backward-exit-active {
  opacity: 0;
  transform: translateX(100%);
} */
/* .backward-enter-active,
.backward-exit-active {
  transition: opacity 500ms, transform 500ms;
} */