.navbar-outer {
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 99;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
    font-family: var(--primary-font);   
    padding: 10px 0px;
}       

/* .title {
    font-family: var(--accent-font);
    color: var(--primary-color);
    cursor: pointer;
} */

.logo {
    height: 40px;
}

.searchBar {
    padding: 10px 15px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    min-width: 300px;
    font-size: 15px;
}

.searchBar:focus {
    outline: solid 3px var(--accent-color);
}

.searchButton {
    background: transparent;
    border: none;
    cursor: pointer;    
    margin-left: 10px;
}

.searchButton:hover {
    opacity: 0.7;
}

.navLinks {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.navLinks li:not(.initial-list) {
    margin-left: 30px;
}

.navLinks li a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.navLinks li a:hover {
    color: var(--accent-color);
    /* font-weight: 500 */
}