.navbar-outer {
    min-width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    z-index: 99;
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
    font-family: var(--primary-font);   
    padding: 10px 0px;
}       

/* .title {
    font-family: var(--accent-font);
    color: var(--primary-color);
    cursor: pointer;
} */

.logo {
    height: 40px;
}

.searchBar {
    padding: 10px 15px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    min-width: 300px;
    font-size: 15px;
}

.searchBar:focus {
    outline: solid 3px var(--accent-color);
}

.searchButton {
    background: transparent;
    border: none;
    cursor: pointer;    
    margin-left: 10px;
}

.searchButton:hover {
    opacity: 0.7;
}

.navLinks {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

.navLinks li:not(.initial-list) {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks li a {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

.navLinks li a:hover {
    color: var(--accent-color);
    /* font-weight: 500 */
}

.navLinks .author-avatar {
    display: inline-block;
    height: 27px;
    width: 27px;
    border: solid 2px rgba(0, 0, 0, 0.5);
    /* outline: solid 3px var(--accent-color); */
    border-radius: 50%;
    cursor: pointer;
}

.dropdown-navbar {
    top: 50px;
    right: 20%;
    position: absolute;
    display: block;
    background-color: var(--background-color);
    width: 200px;
    padding: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* min-height: fit-content; */
}

.dropdown-navbar .user-details {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.dropdown-navbar .dropdown-list {
    position: relative;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
}

.dropdown-navbar .dropdown-list li{
    min-width: fit-content;
    margin: 0;
    justify-content: start;
    gap: 10px;
    border-radius: 5px;
}