.profile-section-outer {
    min-width: 100%;
    position: relative;
}

.profile-section-inner {
    margin: 30px auto;
    max-width: 1080px;
    position: relative;
    text-align: center;
    display: flex;
    gap: 70px;
}

.profile-section-inner .left-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--background-color);
    z-index: 99;
}

.profile-section-inner .left-section .profile-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-section-inner .left-section .user-previous-works, .user-skills {
    width: 100%;
}

.profile-section-inner .section-header {
    color: black;
    opacity: 0.5;
    font-weight: 500;
    display: flex;
    align-items: end;
    gap: 10px;
    width: 100%;
    margin: 20px 0px;
}

.profile-section-inner .header-text {
    font-size: 12px;
}

.profile-section-inner .empty-message {
    font-size: 13px;
    color: var(--font-color);
    opacity: 0.8;
}

.header-horizontal-line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
    position: relative;
}

.previous-works-list, .skills-list {
    min-height: 100px;
    max-height: 200px;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.previous-works-list::-webkit-scrollbar, .skills-list::-webkit-scrollbar {
    width: 3px;
}

.previous-works-list .work-item, .skills-list .skill-item {
    width: 100%;
    text-align: left;
    background: var(--background-color);
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.previous-works-list .work-item .title, .skills-list .skill-item .name {
    margin: 0;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.8;
}


.previous-works-list .work-item .description, .skills-list .skill-item .experience {
    margin: 0;
    margin-bottom: 8px;
    font-size: 13px;
    opacity: 0.8;
}

.previous-works-list .work-item .link {
    margin: 0;
    /* margin-bottom: 8px; */
    font-size: 13px;
    font-weight: 500;
    color: var(--accent-color)
}

.profile-section-inner .right-section {
    position: relative;
    width: 100%
}

.profile-section-inner .right-section .fullname {
    font-family: var(--accent-font);
    margin: 5px 0;
    opacity: 0.8;
    width: fit-content;
    text-align: left;
}

.profile-section-inner .right-section .username {
    font-family: var(--accent-font);
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    margin: 5px 0px;
    opacity: 1;
    width: fit-content;
    color: var(--accent-color);
}

.profile-section-inner .right-section .bio {
    font-family: var(--accent-font);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.6px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0px;
    opacity: 0.8;
    width: 60%;
}

.profile-section-inner .right-section .state-country {
    display: block;
    text-align: left;
    width: fit-content;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
}

.profile-section-inner .right-section .profile-options {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.profile-section-inner .right-section .profile-options .dropdown {
    right: 20%;
    /* position: absolute; */
    background-color: var(--background-color);
    padding: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.profile-section-inner .right-section .profile-options .dropdown .dropdown-list {
    position: relative;
    width: fit-content;
    box-shadow: none;
    z-index: 0;
}

.profile-section-inner .right-section .profile-options .dropdown .dropdown-list li {
    min-width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.profile-section-inner .right-section .profile-options .dropdown .report {
    color: rgb(219, 6, 6);
}

.profile-section-inner .right-section .profile-options .dropdown .report:hover {
    background-color: #ECDFDE;
}

.profile-section-inner .right-section .send-message-button {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.profile-tabs {
    margin: 40px 0px;
}

.profile-tabs .tabs-header {
    margin: 5px 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-tabs .tabs-header .header-elements {
    margin: 5px 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.6;
    transition: 0.3s;
}

.profile-tabs .tabs-header .active {
    opacity: 1;
}

.profile-tabs .tab-indicator {
    position: absolute;
    display: block;
    height: 3px;
    border-radius: 50px;
    bottom: -1.5px;
    width: 70px;
    background: var(--accent-color);
    transition: 0.3s;
}

.profile-tabs .tabs-body {
    margin: 30px 0px;
    width: 100%;
    position: relative;
}

.profile-tabs .about-tab, .ideas-tab {
    transition: 0.2s;
    position: absolute;
    min-height: 500px;
    width: 100%;
}

.profile-tabs .section-header {
    margin: 35px 0px;
}

.profile-tabs .about-tab .about-content {
    display: flex;
    align-items: start;
    width: 100%;
    margin: 30px 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
}

.profile-tabs .about-tab .about-content > * {
    display: block;
    text-align: left;
    position: relative;
}

.profile-tabs .about-tab .about-content .field {
    width: 100px;
}

.profile-tabs .about-tab .about-content .value {
    width: 50%;
}

.profile-tabs .about-tab .about-content .social-link {
    position: relative;
}

.profile-tabs .about-tab .about-content .social-link:hover .remove-link-button {
    display: block;
}

.profile-tabs .about-tab .about-content .social-link .remove-link-button {
    position: absolute;
    top: -5px;
    right: 5px;
    display: none;
}

.profile-tabs .about-tab .about-content .social-link-icon {
    margin-right: 15px;
    color: black;
    transition: 0.2s;
    font-size: 22px;
}

.profile-tabs .about-tab .about-content .social-link-icon:hover {
    color: var(--accent-color);
}

.profile-tabs .ideas-tab .user-ideas-list {
    height: 400px;
    display: flex;
    flex-direction: column;
}

.profile-tabs .ideas-tab .user-ideas-list .idea-card {
    text-align: left;
    color: var(--text-color);
    text-decoration: none;
    padding:  15px;
    border-radius: 5px;
    transition: 0.2s;
    /* border: solid 1px; */
    /* padding: 10px; */
}

.profile-tabs .ideas-tab .user-ideas-list .idea-card:hover {
    background-color: #E3F2FD;
}

.profile-tabs .ideas-tab .user-ideas-list .idea-card:hover .title {
    color: var(--accent-color);
}

.profile-tabs .ideas-tab .user-ideas-list .idea-card .title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s;
}

.profile-tabs .ideas-tab .user-ideas-list .idea-card .description {
    margin: 0;
    font-size: 13px;
}

.profile-tabs .ideas-tab .user-ideas-list .idea-card .posted-date {
    margin-top: 10px;
    font-size: 12px;
    opacity: 0.8;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.popup-content {
    background-color: var(--background-color);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    /* min-width: 500px; */
    /* max-width: 500px; */
    width: 500px;
    max-height: 80vh;
    overflow-y: hidden;
    border-radius: 10px;
    transition: 0.5s;
    /* animation: fadeIn 0s ease-in-out; */
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

.popup-content .header {
    color: var(--accent-color);
    font-family: var(--accent-font);
    position: sticky;
    top: 0px;
    background-color: var(--background-color);
    margin: 0;
    padding: 20px 20px;
    font-size: 22px;
    z-index: 99;
}

.popup-content .bottom-buttons {
    position: sticky;
    bottom: 0px;
    background-color: var(--background-color);
    padding: 20px 20px;
    display: flex;
    gap: 10px;
}

.popup-form {
    padding: 0px 35px;
    position: relative;
    overflow-y: scroll;
    max-height: 60vh;
}

.popup-form::-webkit-scrollbar {
    width: 3px;
}

.popup-form p {
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 10px
}

.popup-form input, textarea {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px !important;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-family: var(--accent-font);
    resize: none;
    font-weight: 500;
    margin-bottom: 15px;
}

.popup-from input:focus {
    outline: solid 3px var(--accent-color) !important;
}