.profile-section-outer {
    min-width: 100%;
    position: relative;
}

.profile-section-inner {
    margin: 30px auto;
    width: 1080px;
    position: relative;
    text-align: center;
    display: flex;
    gap: 70px;
}

.profile-section-inner .left-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.profile-section-inner .left-section .profile-image {
    height: 250px;
    /* border-radius: 50%; */
    margin-bottom: 20px;
}

.profile-section-inner .left-section .user-previous-works, .user-skills {
    width: 100%;
}

.profile-section-inner .section-header {
    color: black;
    opacity: 0.5;
    font-weight: 500;
    display: flex;
    align-items: end;
    gap: 10px;
    width: 100%;
}

.profile-section-inner .header-text {
    font-size: 12px;
}

.header-horizontal-line {
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.3);
    margin-bottom: 3px;
    position: relative;
}

.previous-works-list, .skills-list {
    min-height: 200px;
    max-height: 200px;
}

.profile-section-inner .right-section .fullname {
    font-family: var(--accent-font);
    margin: 5px 0;
    opacity: 0.8;
    width: fit-content;
    text-align: left;
}

.profile-section-inner .right-section .username {
    font-family: var(--accent-font);
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    margin: 5px 0px;
    opacity: 1;
    width: fit-content;
    color: var(--accent-color);
}

.profile-section-inner .right-section .bio {
    font-family: var(--accent-font);
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.6px;
    font-weight: 500;
    text-align: left;
    margin: 20px 0px;
    opacity: 0.8;
    width: 60%;
}

.profile-section-inner .right-section .state-country {
    display: block;
    text-align: left;
    width: fit-content;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.5;
}

.profile-tabs {
    margin: 40px 0px;
}

.profile-tabs .tabs-header {
    margin: 5px 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 40px;
}

.profile-tabs .tabs-header .header-elements {
    margin: 5px 0px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}

.tab-indicator {
    position: absolute;
    display: block;
    height: 3px;
    border-radius: 50px;
    bottom: -1.5px;
    width: 70px;
    background: var(--accent-color);
}