.signin-wrapper, .signup-wrapper {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.signin-form, .signup-form {
    /* border: solid 1px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    padding: 40px 30px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}

.form-header {
    margin: 0;
    margin-bottom: 30px;
}

.form-header span {
    color: var(--accent-color);
}

.signin-form > input:not(.show-password), .signup-form > input:not(.show-password) {
    padding: 15px 20px;
    width: 350px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);   
    min-width: 300px;
    font-family: var(--primary-font);
}

.signin-form > input:focus, .signup-form > input:focus {
    outline: 2px solid var(--accent-color);
}

.error {
    color: rgb(219, 6, 6);
    font-size: 14px;
    margin: 0;
    margin-bottom: 20px;
    transition: 0.2s;
    border-radius: 5px;
    background-color: #ECDFDE;
    font-weight: 400;
    text-align: center;
    font-family: var(--primary-font);
}

.password-options {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-password {
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.password-options a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
}

.password-options a:hover {
    text-decoration: underline;
}

.signin-button, .signup-button {
    width: 100%;
    margin: 30px 0px;
    padding: 10px 15px !important;
    /* border-radius: 0px !important; */
}

.signin-form p, .signup-form p {
    font-size: 13px;
}

.signup-link, .signin-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 5px;
    font-size: 13px;
    background-color: #E5F8FF;
    border-radius: 5px;
}

.signup-link a, .signin-link a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover, .signin-link a:hover {
    text-decoration: underline;
}