.login-outer {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden
}

.login-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-form {
    /* border: solid 1px; */
    padding: 40px 30px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}

.form-header {
    margin: 0;
    margin-bottom: 30px;
}

.form-header span {
    color: var(--accent-color);
}

.login-form > input:not(.show-password) {
    padding: 15px 20px;
    width: 350px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);   
    min-width: 300px;
}

.password-options {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-options a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
}

.password-options a:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    margin: 30px 0px;
    padding: 10px 15px !important;
    /* border-radius: 0px !important; */
}

.login-form p {
    font-size: 13px;
}

.signup-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 5px;
    font-size: 13px;
    background-color: #E5F8FF;
    border-radius: 5px;
}

.signup-link a {
    color: var(--accent-color);
    text-decoration: none;
    font-weight: 500;
}

.signup-link a:hover {
    text-decoration: underline;
}