.card-container {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.card-title, .author {
    font-family: var(--accent-font);
}

.card-title {
    margin-top: 0;
}

.card-description, .extra-details {
    font-size: 15px;
    /* margin: 0; */
}

.extra-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.likes, .comments {
    margin-right: 15px;
}

.posted-date {
    margin-right: 0;
    font-size: 12px;
}