.ideas-section-outer {
    min-width: 100%;
    position: relative;
    font-family: var(--primary-font);
    margin-top: 80px;
}

.ideas-section-inner {
    margin: 50px auto;
    width: 1000px;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}