.filter-outer {
    min-width: 100%;
    position: sticky;
    top: 80px;
    background-color: var(--background-color);
    z-index: 99;
}

.filter-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
    font-family: var(--primary-font);
}

.filter-dropdown {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 15px; 
    outline: none;
    border-radius: 50px;
}

.filter-dropdown option {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 15px;
}

.filter-dropdown option:hover {
    background-color: var(--accent-color);
    color: #fff
}