.idea-preview {
    padding: 20px;
    border: solid 1px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.idea-preview-title {
    margin-bottom: 30px;
    font-family: var(--accent-font);
}

.idea-preview-description {
    font-size: 15px;
    line-height: 20px;
}

.idea-preview-summary {
    /* font-size: 17px; */
    line-height: 25px;
    margin: 30px 0px
}

.idea-preview-date-time {
    font-size: 15px;
}