.idea-editor-outer {
    min-width: 100%;
    position: relative;
    /* margin-top: 80px; */
}

.idea-editor-inner {
    margin: auto;
    width: 1000px;
    position: relative;
    text-align: left;
    padding: 50px 00px;
    /* border: solid 2px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    /* margin-top: 50px; */
}

.idea-editor-inner, .header-section {
    margin-bottom: 50px;
}

.idea-form {
    /* padding: 50px 30px; */
    
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

.idea-form > p {
    margin: 30px 0px 10px 0px;
    font-weight: 500;
}

.idea-form input, textarea {
    width: 100%;
    padding: 10px 20px;
    border: 3px solid var(--accent-color);
    border-radius: 5px;
    font-size: 15px; 
    outline: none;
    border-radius: 10px;
    letter-spacing: 0.5px;
    font-family: 'arial';
    resize: none;
    font-weight: 500;
    /* outline: solid 2px var(--accent-color); */
}

.idea-form input:focus, textarea:focus {
    /* outline: solid 2px var(--accent-color); */
}

.idea-form .idea-description {
    min-height: 200px;
}

.idea-form .idea-summary {
    height: 600px;
    margin-bottom: 80px;
    border: solid 3px var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
}

.idea-form .idea-summary .ql-toolbar {
    display: flex;
    justify-content: space-between;
}

.idea-form .idea-buttons {
    margin-top: 50px;
}

.idea-form .idea-buttons .post-button{
    margin-right: 10px;
}