.idea-preview {
    padding: 15px 30px;
    border-radius: 15px;
    position: relative;
}

.idea-preview::-webkit-scrollbar {
    display: none;
}

.idea-preview-title {
    margin-bottom: 30px;
    font-family: var(--accent-font);
}

.idea-preview-description {
    font-size: 15px;
    line-height: 20px;
}

.idea-preview-summary {
    /* font-size: 17px; */
    line-height: 25px;
    /* margin: 30px 0px; */
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* height: 30vh; */
}

.idea-preview-summary::-webkit-scrollbar {
    display: none;
}

.idea-preview-date-time {
    font-size: 13px;
    margin-top: 20px;
    opacity: 0.6;
    font-weight: 500;
}

.idea-preview .extra-features {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ql-align-center {
    text-align: center !important;
}

.ql-align-left {
    text-align: left !important;
}

.ql-align-right {
    text-align: right !important;
}

.ql-align-justify {
    text-align: justify !important;
}