.description-outer {
    min-width: 100%;
    position: relative;
    font-family: var(--primary-font);
    margin-top: 50px;
}

.description-inner {
    margin: auto;
    width: 1000px;
    position: relative;
    text-align: center;
}

.description-paragraph {
    line-height: 25px;
}

.mission-statement {
    font-weight: 500;
}

.description-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    margin: 30px;
}

.description-card {
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
    line-height: 25px;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); */
}

.network {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../assets/network.jpeg');
}

.light-bulb {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../assets/light-bulb.jpeg');
}

.collaboration {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url('../assets/collaboration.jpeg');
}
