@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

:root {
    --background-color: #FFFFFF;
    --primary-color: #1c1c1c;
    --accent-color: #2D89FF;
    --text-color: #0f0f0f;  
    --secondary-accent: #6EE7B7;
    --primary-font: "Work Sans", serif;
    --accent-font: "Raleway", serif;   
}

body {
    background-color: var(--background-color);
    position: relative;
    color: var(--text-color);
    margin: 0;
}

.primary-button {
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-color);
  color: white;
  cursor: pointer;
  font-size: 50;
  font-weight: 600;
  letter-spacing: 0.2px
}