.navbar-outer {
    min-width: 100%;
    /* border: solid 1px black !important; */
}

.navbar-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1000px;
    font-family: var(--primary-font);
}

.title {
    font-family: var(--accent-font);
    color: var(--primary-color);
    cursor: pointer;
}

.searchBar {
    padding: 10px 15px;
    border: solid 1px var(--primary-color);
    border-radius: 50px;
    min-width: 250px;
}

.searchButton {
    background: transparent;
    border: none;
    cursor: pointer;    
    margin-left: 10px;
}

.searchButton:hover {
    opacity: 0.7;
}

.navLinks {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navLinks li {
    margin-right: 30px;
}

.navLinks li a {
    text-decoration: none;
    color: var(--text-color);
}

.navLinks li a:hover {
    color: var(--accent-color);
    font-weight: 500
}

.primary-button {
    padding: 10px 15px;
    border-radius: 50px;
    border: none;
    background-color: var(--accent-color);
    color: white;
    cursor: pointer;
    font-size: 50;
}

.primary-button:hover {
    opacity: 0.9;
}