.steps-outer {
    min-width: 100%;
    position: relative;
    font-family: var(--primary-font);
    margin-top: 50px;
}

.steps-inner {
    min-height: 80vh;
    margin: auto;
    width: 1000px;
    position: relative;
    text-align: center;
}

.steps-title {
    margin-bottom: 20px;
}

.steps-grid {
    margin: 0px 50px;
}

.steps-grid-elements {
    display: grid;
    align-items: center;
    gap: 20px;
}

.steps-grid-elements .arrow img {
    height: 100px;
    margin-top: 100px;
}

.odd-element {
    grid-template-columns: 1fr 2fr 3fr;
}

.even-element {
    grid-template-columns: 3fr 1fr 2fr;
}

.steps-grid-elements img {
    height: 150px;
    margin: auto;
}

.steps-grid-elements .steps-description .steps-description-title{
    text-align: left;
    margin: 0;
    font-family: var(--accent-font);
}

.steps-grid-elements .steps-description .steps-description-paragraph{
    text-align: left;
    /* margin: 0 */
}

.call-to-action-section {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 110px 50px 100px 50px;
    font-family: var(--accent-font);
    text-align: left;
}

.call-to-action-section .right-arrow{
    border: none;
    background-color: var(--accent-color);
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}